<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("0fbaaae5-57da-41e9-b299-a60119999dae");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
